.collections {
    padding-top: 2rem;
}

.collections h2 {
    margin: 0 0 1rem 0;

    font-size: 1.5rem;
}

.collection-card {
    width: 15rem;
    padding: 1.5rem;

    border-radius: 0.75rem;

    background-color: #f2f2f2;
}

.collection-card h3 {
    margin: 0 0 0.5rem 0;

    font-size: 1.2rem;
}

.collection-card p {
    margin: 0;
}